

.inner-container {
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


header {
    background-color: navy;
}

header svg {
    width: 6.25rem;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu {
    display: flex;
    gap: 2%;
}
