

.inner-container {
    max-width: 60rem;
    margin: auto;
    position: relative;
  
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header {
    background-color: navy;
}

header svg {
    width: 6.25rem;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu li {
    
    line-height: 3.75rem;
}

h1 {
    position: absolute;
    top: 0;
    left: -30px;   
}

section {
    padding: 4.6875rem;
}

.col {
    width: 12.5rem;     /** Normally you'd NEVER add height, but to see these show up we will for this demo only*/
    height: 12.5rem;
    background-color: rgb(212, 184, 212);
}

.col:nth-of-type(2) {
    background-color: rgb(239, 123, 239);
    position: relative;
    left: 9.375rem;   /* moves it FROM the left by 9.375rem */
    top: -100px; /* or bottom: 100px;  */
}

.col:last-of-type {
    background-color: magenta;
    position: relative;
    left: 18.75rem;
    top: -12.5rem;
}

p {
    margin-top: -6.25rem;
}